<!doctype html>
<html lang="en">
<!--begin::Head-->
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>{% block title %}BLog{% endblock %}</title>
     {% block stylessheet %}
         {{ encore_entry_link_tags('app') }}
          {{ encore_entry_link_tags('adminlte') }}
     {% endblock %}
    {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {{ encore_entry_script_tags('adminlte') }}
           {% endblock %}
</head>
<!--end::Head-->
<!--begin::Body-->
{% block body %}

{% endblock %}
<!--end::Body-->
</html>
