{% extends 'base.html.twig' %}
{% block title %}{{ parent() }}  | ForgetPaswword{% endblock %}
{% block body %}
    <body class="login-page bg-body-secondary">
    <div class="login-box">
        <div class="card card-outline card-primary">
            <div class="card-header">
                <a
                        href="../index2.html"
                        class="link-dark text-center link-offset-2 link-opacity-100 link-opacity-50-hover"
                >
                    <h1 class="mb-0"><b>Symfony Blog</b></h1>
                </a>
            </div>
            <div class="card-body login-card-body ">
                <p class="login-box-msg">Reset Your Password</p>
                <form action="../index3.html" method="post">
                    <div class="input-group mb-2">
                        <div class="form-floating">
                            <input id="loginEmail" type="email" class="form-control" value="" placeholder="" />
                            <label for="loginEmail">Email</label>
                        </div>
                        <div class="input-group-text"><span class="bi bi-envelope"></span></div>
                    </div>

                    <!--begin::Row-->
                    <div class="row">

                        <!-- /.col -->
                        <div >
                            <div class="d-grid gap-2">
                                <button type="submit" class="btn btn-primary">Request Your Password</button>
                            </div>
                        </div>
                        <!-- /.col -->
                    </div>
                    <!--end::Row-->
                </form>

                <!-- /.social-auth-links -->

            </div>
            <!-- /.login-card-body -->
        </div>
    </div>
    </body>
{% endblock %}