{% extends 'base.html.twig' %}
{%block title %}
    {{ parent() }} | View Profile
{% endblock %}
{% import 'Macro/profileMacro.twig' as profile %}

{% block body %}
    <body class="layout-fixed sidebar-expand-lg bg-body-secondary">
    <!-- begin::App Wrapper -->
    <div class="app-wrapper d-flex">
        <!-- Include Sidebar -->
        {% include 'sidbar.html.twig' %}

        <!-- Main Content: Ensure it spans fully between Nav and Sidebar -->
        <main class="app-main w-100">
            <!-- Include Navbar -->
            {% include 'nav.html.twig' %}

            <!-- Profile Section -->
            <div class="app-content container-fluid px-4 py-5" style="min-height: calc(100vh - 70px);">
                <section class="h-100 gradient-custom-2">
                    <div class="container-fluid py-0 h-100">
                        <div class="row d-flex justify-content-center">
                            <div class="col-12"> <!-- Make the profile container occupy full width -->
                                <div class="card">
                                    <div class="rounded-top text-white d-flex flex-row" style="background-color: #000; height:200px;">
                                        <div class="ms-4 mt-5 d-flex flex-column" style="width: 150px;">
                                            <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-profiles/avatar-1.webp"
                                                 alt="Generic placeholder image" class="img-fluid img-thumbnail mt-4 mb-2"
                                                 style="width: 150px; z-index: 1">
                                        </div>
                                        <div class="ms-3" style="margin-top: 130px;">
                                            <h5>Andy Horwitz</h5>
                                            <p>New York</p>
                                        </div>
                                    </div>
                                    <div class="p-4 text-black bg-body-tertiary">
                                        <div class="d-flex justify-content-end text-center py-1 text-body">
                                            <div>
                                                <p class="mb-1 h5">253</p>
                                                <p class="small text-muted mb-0 tag-button">Posts</p>
                                            </div>
                                            <div class="px-3">
                                                <p class="mb-1 h5">1026</p>
                                                <p class="small text-muted mb-0 tag-button">Followers</p>
                                            </div>
                                            <div>
                                                <p class="mb-1 h5">478</p>
                                                <p class="small text-muted mb-0 tag-button">Following</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-body p-4 text-black">
                                        <div class="mb-5 text-body">
                                            <p class="lead fw-normal mb-1">About</p>
                                            <div class="p-4 bg-body-tertiary">
                                                <p class="font-italic mb-1">Web Developer</p>
                                                <p class="font-italic mb-1">Lives in New York</p>
                                                <p class="font-italic mb-0">Photographer</p>
                                            </div>
                                        </div>
                                        <!-- Tab Buttons -->
                                        <!-- Tab Content -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </main>
    </div>

    </body>

{% endblock %}